.portfolio__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;
    gap: 20px;
    justify-content: space-around;
    
}

.portfolio__title {
    margin: 40px 0;
}

.portfolio__items {
    margin: 20px auto;
    margin-bottom: 20px;
}

.portfolio__view {
    text-align: center;
    margin: 40px 0;
}